.error-container {
   border-color: var(--error);
   align-items: center;
   padding: 8px 16px;
   margin-top: 20px;
   height: 100px;

   .icon {
      background-color: var(--error);
      width: 40px;
      height: 40px;
      border-radius: 20px;
      color: var(--zinc-950);
   }

   .content {
      font-family: var(--font);
      color: var(--error);

      span {
         font-weight: bold;
         font-size: var(--paragraph-size);
      }

      p {
         font-size: var(--paragraph-xs-size);
         margin: 0;
      }
   }
}