.card-header-left-content {
   img {
      width: 65px;
      height: 65px;
      object-fit: cover;
      border-radius: 40px;
   }
}

.card-header-right-content {
   color: var(--zinc-600);

   h2 {
      margin: 0;
   }

   .location {
      display: flex;
      align-items: center;
      text-decoration: none;
   }
} 