.header {
   border-bottom: 1px solid var(--zinc-700);

   .header-content {
      height: 70px;
   
      .logo {
         font-weight: 800;
         font-size: var(--logo-size);
         letter-spacing: 2px;
   
         span {
            margin-left: 2px;
         }
      }
   }
}
