.header {
   display: flex;
   align-items: center;
   gap: 24px;
   justify-content: space-between;
   border-bottom: 1px solid var(--zinc-800);
   padding-bottom: 24px;
   height: 70px;

   .logo {
      font-family: var(--font);
      font-weight: 800;
      font-size: var(--logo-size);
      color: var(--zinc-300);
      letter-spacing: 2px;
      text-decoration: none;

      span {
         color: var(--purple);
         margin-left: 2px;
      }
   }

   .navigation {
      flex: 1;

      .navigation-list {
         list-style: none;

         .navigation-list-item {
            font-family: var(--font);
            font-size: var(--paragraph-size);

            a {
               color: var(--zinc-400);
               text-decoration: none;
            }
         }
      }
   }
}