<div class="user-container">
  <div *ngIf="error">
    <app-error [message]="errorMessage" />
  </div>

  <app-user-loading 
    *ngIf="loading || loadingRepos"
  />

  <main 
    class="user-content content p-container flex flex-col spacing-lg"
    *ngIf="!loading && !loadingRepos"
  >
    <h2 class="title">Detalhes do usuário</h2>

    <div class="user-info" *ngIf="user">
      <header class="header flex items-center spacing-lg">
        <div class="left-content">
          <app-avatar [src]="user.avatar_url" [alt]="user.name" [big]="true" />
        </div>

        <div class="right-content flex-1">
          <h2 class="title m-0">
            {{ user.name }},
            <a
              [href]="user.html_url"
              target="_blank"
              rel="noopener nofollow"
              class="link"
            >
              <span class="text-small">
                {{ "@" + user.login }}
              </span>
            </a>
          </h2>
          <div class="flex items-center spacing-s">
            <div
              class="header-info flex items-center spacing-s small-icon text-zinc-600"
            >
              <mat-icon>laptop</mat-icon>
              <span>{{ user.company }}</span>
            </div>

            <div
              class="header-info flex items-center spacing-s small-icon text-zinc-600"
            >
              <mat-icon>place</mat-icon>
              <span>{{ user.location }}</span>
            </div>
          </div>

          <a
            [href]="user.blog"
            target="_blank"
            rel="noopener nofollow"
            class="link"
            *ngIf="user.blog"
          >
            {{ user.blog }}
          </a>

          <div
            class="text-zinc-600 flex items-center spacing-xs pt-container text-xs"
          >
            <p class="m-0 text-zinc-500">Membro desde:</p>
            <span>{{ user.created_at | date : "dd/MM/yyy" }}</span>
          </div>
          <div class="text-zinc-600 flex items-center spacing-xs text-xs">
            <p class="m-0 text-zinc-500">Ultima atualização:</p>
            <span>{{ user.updated_at | relativeDate }}</span>
          </div>
        </div>
      </header>

      <section class="py-container flex flex-col spacing-lg">
        <div class="pt-container">
          <p class="paragraph m-0">
            {{ user.bio }}
          </p>
        </div>

        <ul class="infos grid spacing-lg">
          <li
            *ngFor="let info of getUserInfo()"
            class="info-item paragraph flex flex-col items-center spacing-xs border rounded font"
          >
            <span class="bold">{{ info.value }}</span>
            <p class="text-zinc-600 lowercase text-xs m-0">{{ info.label }}</p>
          </li>
        </ul>
      </section>
    </div>

    <h2 class="title">Repositórios</h2>

    <app-error
      *ngIf="errorRepos"
      message="Erro ao obter repositórios do usuário"
    />

    <div
      class="search-container flex flex-col spacing-md"
      *ngIf="repos.length > 0 && !error"
    >
      <app-input
        class="flex-1"
        placeholder="Pesquise seu repositório..."
        (onChangeInputValue)="onChangeInputValue($event)"
        [defaultValue]="formGroup.value.search"
      />

      <div class="selects flex-1 flex items-center spacing-md">
        <app-select
          class="flex-1"
          label="Ordenar por"
          [options]="orderTypeSelectOptions"
          [defaultSelect]="formGroup.value.orderType"
          (onSelectItem)="onSelectFilterType($event)"
        />
        <app-select
          class="flex-1"
          label="Ordenar de forma"
          [options]="orderBySelectOptions"
          [defaultSelect]="formGroup.value.orderBy"
          (onSelectItem)="onSelectFilterBy($event)"
        />
      </div>

      <app-button (onClick)="onSearch()"> Procurar </app-button>
    </div>

    <div
      class="repos-info flex flex-col spacing-lg"
      *ngIf="repos.length > 0 && !error"
    >
      <p *ngIf="!filteredRepos.length" class="text-zinc-300">
        Não foi possível encontrar repositórios...
      </p>
      <app-repository [repo]="repo" *ngFor="let repo of filteredRepos" />
    </div>
  </main>
</div>
