.home-container {
   .search-container {
      max-width: 375px;
   
      .input-button {
         background-color: transparent;
         border: 0;
         color: var(--zinc-200);
         transition: color var(--transition);
         cursor: pointer;
   
         &:hover {
            color: var(--zinc-400);
         }
      }
   }
}

