<div class="home-container p-container">
   <p class="paragraph">
      Para buscar informações sobre um usuário no Git, por favor pesquise abaixo:
   </p>

   <div class="search-container w-full center">
      <app-input 
         [defaultValue]="inputText" 
         placeholder="Procure seu usuário favorito..." 
         (onChangeInputValue)="onChangeInputValue($event)"
         (onPressEnterKey)="onFetchUser($event)"
         [disabled]="loading"
      >
         <button right-icon class="input-button" (click)="onPressSearchUsername()">
            <mat-icon>search</mat-icon>
         </button>
      </app-input>
   </div>

   <div class="py-container">
      <div *ngIf="error">
         <app-error [message]="errorMessage" />
      </div>
      <div *ngIf="loading">
         <app-card-loading />
      </div>
   
      <div *ngIf="searchUser !== null">
         <app-card [data]="searchUser"/>
      </div>
   </div>
</div>