.home-container {
   padding: var(--padding-container);

   .search-container {
      width: 100%;
      max-width: 375px;
      margin: 0 auto;
      margin-top: 24px;
   
      .button {
         background-color: var(--purple-dark);
         display: flex;
         align-items: center;
         justify-content: center;
         border: 0;
         padding: 8px 16px;
         border-radius: var(--border-radius);  
         font-family: var(--font);
         color: var(--zinc-200);
         font-weight: 700;
      }  
   
      .input-button {
         background-color: transparent;
         border: 0;
         color: var(--zinc-200);
         transition: color var(--transition);
         cursor: pointer;
   
         &:hover {
            color: var(--zinc-400);
         }
      }
   }

   .result-content {
      margin-top: 40px;
   }
}

