<div class="flex flex-col spacing-lg">
   <div class="w-450">
      <div class="skeleton-text" appSkeleton></div>
   </div>

   <div class="user-info flex spacing-md header">
      <div appSkeleton class="skeleton-image-bigger"></div>

      <div class="flex flex-col flex-1 spacing-md w-full">
         <div class="skeleton-text w-450" appSkeleton></div>
         <div class="skeleton-text w-250" appSkeleton></div>
         <div class="skeleton-text w-250" appSkeleton></div>
      </div>
   </div>

   <div class="skeleton-text w-450" appSkeleton></div>

   <div class="grid py-container spacing-lg">
      <div class="skeleton-card rounded" appSkeleton></div>
      <div class="skeleton-card rounded" appSkeleton></div>
      <div class="skeleton-card rounded" appSkeleton></div>
      <div class="skeleton-card rounded" appSkeleton></div>
   </div>

   <div class="skeleton-text w-450" appSkeleton></div>

   <div class="flex flex-col spacing-lg py-container">
      <div class="skeleton-card rounded" appSkeleton></div>
      <div class="skeleton-card rounded" appSkeleton></div>
      <div class="skeleton-card rounded" appSkeleton></div>
      <div class="skeleton-card rounded" appSkeleton></div>
      <div class="skeleton-card rounded" appSkeleton></div>
   </div>
</div>