.w-450 {
   max-width: 450px;
}

.w-250 {
   max-width: 250px;
}

.header {
   @media (max-width: 475px) {
      flex-direction: column;
      align-items: flex-start;
   }
}

.grid {
   grid-template-columns: repeat(4, 1fr);

   @media (max-width: 475px) {
      grid-template-columns: repeat(2, 1fr);
   }
}