<div class="card-container">
   <header class="card-header">
      <div class="card-header-left-content">
         <div class="fake-user-image skeleton-image" appSkeleton></div>
      </div>

      <div class="w-full flex flex-col spacing-s">
         <div class="skeleton-text max-w-100" appSkeleton></div>
         <div class="skeleton-text max-w-50" appSkeleton></div>
         <div class="skeleton-text max-w-50" appSkeleton></div>
      </div>
   </header>

   <main class="card-content">
      <div class="infos">
        <div class="info">
           <div class="skeleton-text max-w-100" appSkeleton></div>
           <div class="skeleton-text max-w-50" appSkeleton></div>
        </div>
        <div class="info">
         <div class="skeleton-text max-w-100" appSkeleton></div>
         <div class="skeleton-text max-w-50" appSkeleton></div>
      </div>
      <div class="info">
         <div class="skeleton-text max-w-100" appSkeleton></div>
         <div class="skeleton-text max-w-50" appSkeleton></div>
      </div>
      </div>
   </main>
</div>